.div-flex{
    display: flex !important;
}
.width-input{
    width: 90% !important;
}
.btn-width{
    width: 10% !important;
}
.css-69324s button{
    color: grey !important;
    border: 1px solid grey !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    padding: 13px 36px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: larger !important;
}


@media only screen and (max-width: 1024px){
    .width-input
    {
        width: 82% !important;
    }
}

@media only screen and (max-width: 600px) {
    .width-input
    {
        width: 77% !important;
    }
}

@media only screen and (min-width: 2560px) {
    .width-input
    {
        width: 148% !important;
        margin-bottom: 22px;
    }
    .div-flex{
    margin-top: 7%;
    }

}
@media screen and (min-width:1024px) and (max-width:1440px)
{
    .div-flex{
        margin-top: 3% !important;
    }
}

@media screen and (min-width:320px) and (max-width:768px){

    .div-flex{
        margin-top: 9% !important;
    }

}

// @media only screen and (max-width: 1440px){
//     .div-flex {
//         margin-top: 8%;
//     }
// }

.css-i4bv87-MuiSvgIcon-root {
    font-size: xx-large !important;
}

