.css-sghohy-MuiButtonBase-root-MuiButton-root
{
    background-color: darkgray !important;
    color: white !important;
}
.css-11qr2p8-MuiButtonBase-root-MuiButton-root{
    background-color: darkgray !important;
    color: white !important;
}
.css-1d9bq45-MuiButtonGroup-root .MuiButtonGroup-firstButton, .css-1d9bq45-MuiButtonGroup-root .MuiButtonGroup-middleButton
{
    border-color: white !important;
}